body {

    margin: 0;
    text-align: center;
    font-family: cursive;
    font-family: 'Merriweather', serif;
    color: #40514E;

}

hr {
    border: 10px dotted silver;
    border-style: none none dotted; 
    width: 5%;
    margin: 60px auto 60px auto
 
}

h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem ;
    color: #66BFBF;
   /* line-height: 2; */


}

h2 {

    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #66BFBF;
}



h3 {
    
    font-family: 'Montserrat', sans-serif;
    color: #11999E
    

}




.top-container {

    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;

}

.mid-container {

}

.bottom-container {
    color: #11999E;
 /*   margin-bottom: 50px; */
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #66BFBF;
    

}

.copy-right {

    color: #EAF6F6;
    font-size: 0.95rem;
    margin-top: 40px;

}

.footer-link {

    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.footer-link:hover {

    color: #EAF6F6;
}


.devops {

    width: 25%;
    float: left;
   margin-right: 30px;
   
    
    
}

.cloud {

    width: 25%;
    float: right;
    margin-left: 20px;
   
}

  

.hack {

    text-decoration: underline;

}

.bottom-cloud {

    position: absolute;
    left: 25rem;
    bottom: 18.75rem;
}

.top-cloud {

    position: absolute;
    right: 25rem;
    top: 3.125rem;
}

.mountain {

    width: 25%;
    height: auto;
}

.skill-row {
    text-align: left;
    line-height: 1.5;
    margin: 50px auto 100px auto;
    width: 50%;
    height: auto;
    overflow: auto;

}




/*   ***********CSS BUTTON GEN************* */
.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #869e9e);
    background-image: -moz-linear-gradient(top, #11999E, #869e9e);
    background-image: -ms-linear-gradient(top, #11999E, #869e9e);
    background-image: -o-linear-gradient(top, #11999E, #869e9e);
    background-image: linear-gradient(to bottom, #11999E, #869e9e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #5e5e5e;
    -webkit-box-shadow: 3px 5px 6px #2e2c2e;
    -moz-box-shadow: 3px 5px 6px #2e2c2e;
    box-shadow: 3px 5px 6px #2e2c2e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
    
  }
  
  .btn:hover {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #3b464d);
    background-image: -moz-linear-gradient(top, #11999E, #3b464d);
    background-image: -ms-linear-gradient(top, #11999E, #3b464d);
    background-image: -o-linear-gradient(top, #11999E, #3b464d);
    background-image: linear-gradient(to bottom, #11999E, #3b464d);
    text-decoration: none;
  }
